<!DOCTYPE html>
<html lang="en-us">
  <head>
    <link rel="stylesheet" href="/css/main.css">
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="home-grid">
      <aside class="sidebar">
        <header>
          <a href="/" class="logo-home" title="Restaurant info and reviews">
            <img src="/images/logo.svg" />
          </a>
          <nav>
            <ul class="main-nav-list">
              <li class="nav-item">
                <a href="/" class="nav-item-link">
                  <img src="/images/about-icon.svg" alt="sample alt" />
                  <span>Home</span>
                </a>
              </li>
              <li class="nav-item">
                <a href="/menu" class="nav-item-link">
                  <img src="/images/menu-icon.svg" alt="sample alt" />
                  <span>Menu</span>
                </a>
              </li>
            </ul>
          </nav>
        </header>
      </aside>
      <div class="page">
        {{ content | safe }}
        <footer class="main-footer">
          <p class="main-footer-text">
            Made as an example of building a site with a headless CMS
          </p>
          <p class="main-footer-text">
            Repo: 
            <a href=
              "https://github.com/tzmanics/demo-restaurant-11ty-contentful"
            >GitHub</a>
          </p>
          <p class="main-footer-text">
            Built with <a href="https://www.11ty.dev/">Eleventy</a> and
            <a href="https://www.netlify.com">Netlify</a>
          </p>
        </footer>
      </div>
    </div>
  </body>
</html>
