---
title: Home
layout: layouts/base.njk
---
<header>
  <h1>{{ info.name}}</h1>
  <p>{{ info.strapline }}</p>
  <div class="address">
    {% for line in info.contact.streetAddress %}
    <p> 
      {{ line }}
    </p>
    {% endfor %}
  </div>
  <p>
    Reservations: <a href="{{ info.contact.email }}">{{info.contact.email}}</a>, {{ info.contact.phone}}
  </p>
  <abbr title="Vegetarian" class="diet-icon">V</abbr>
</header>

<hr />

<h1>{{ page.title }}</h1>
<div>{{ page.body }}</div>
<p>
  <a href="/menu">Look at the menu</a>
</p>

<h2>Testimonials</h2>
{% for item in testimonials %}
<div>
  <h3>{{ item.title }}</h3>
  <p>{{ item.displayName }}, <time>{{ item.date }}</time> </p>
  <div>{{ item.body}}</div>
</div>
{% endfor %}

<h2>Gallery</h2>
<div class="gallery">
  {% for item in gallery %}
  <img src="{{ item.imageUrl }}" alt="{{ item.caption }}" >
  {% endfor %}

</div>

<hr />

<footer>
  <h2>Opening hours</h2>
  <div class="hours">
    {% for day in info.hours %}
    <p>{{day}}</p>
    {% endfor %}
  </div>

  <h2>Social</h2>
  <ul>
    {% for item in info.social %}
    <li>{{ item.channel }} : 
      <a href="{{ item.url }}">{{ item.displayName }} </a>
    </li>
    {% endfor %}
  </ul>
      
  </footer>
</div> 